.container{
    height: 500px;
    color: #ffffff;
    display: grid;
    padding: 10px;
    background-color: rgb(255, 0, 98);

    /* grid-template-rows: 200px 100px; CADA AUTO SIGNIFICA UMA LINHA */
    /* grid-template-columns: 1fr 2fr 1fr ; CADA AUTO SIGNIFICA UMA COLUNA */

    grid-template: auto auto/ auto auto auto;
    grid-gap: 5px;

    justify-items: center;
    align-items: center;


    /* grid-row-gap: 10px;
    grid-column-gap: 10px; */
}

.r1{
    background-color: indigo;
  
}
.r2{
    
    background-color: rgb(67, 129, 5) ; 
    
}

.r3{
    
    background-color: rgb(3, 143, 113);
}

.react{
    width: 100px;
    height: 100px;
}